.advantages {
    background: #393C40;
    padding-top: 64px;
    padding-bottom: 30px;

    @include max-break('470px') {
        padding-top: 53px;
        padding-bottom: 35px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        padding-left: 88px;

        @include max-break('850px') {
            flex-direction: column;
        }

        @include max-break('470px') {
            padding-left: 65px;
        }
    }

    &__item {
        margin-bottom: 35px;
        margin-right: 180px;
        width: calc((100% - 237px) / 2);
        background-color: #292B2E;
        padding: 19px 0 22px 22px;
        position: relative;
        z-index: 1;
        box-sizing: border-box;

        @include max-break('850px') {
            width: calc(100% - 60px);
            margin-right: 0;
        }

        @include max-break('470px') {
            background-color: transparent;
            width: 100%;
            padding: 19px 0 22px 0;
        }

        &:before,
        &:after {
            position: absolute;
            content: '';
            display: block;
            left: -86px;
            top: 0;
            width: 86px;
            height: 100%;
            z-index: 1;
        }

        &:before {
            left: -86px;
            top: 0;
            width: 86px;
            height: 100%;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODYiIGhlaWdodD0iMTI1IiB2aWV3Qm94PSIwIDAgODYgMTI1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8wXzE2MzApIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMTI1SDI2LjgxMTZMNjcgNjIuNUwyNi44MTE2IDBIMEw0MC4xODg0IDYyLjVMMCAxMjVaIiBmaWxsPSIjRTQxMDE5Ii8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00NS40MzM1IDEyNUg3MjIuMjI1TDc2Mi4yNjggNjIuNUw3MjIuMjI1IDBINDUuNDMzNUw4NS41NDY1IDYyLjVMNDUuNDMzNSAxMjVaIiBmaWxsPSIjMjkyQjJFIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDBfMF8xNjMwIj48cmVjdCB3aWR0aD0iNzYyLjI2OSIgaGVpZ2h0PSIxMjUiIGZpbGw9IndoaXRlIi8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+) center center no-repeat;
            background-size: cover;

            @include max-break('470px') {
                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSIxMDAiIHZpZXdCb3g9IjAgMCA0NCAxMDAiIGZpbGw9Im5vbmUiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC44MjY5MTIgMTAwSDExLjgyNjlMNDQgNTBMMTEuODI2OSAwSDAuODI2OTEyTDMzIDUwTDAuODI2OTEyIDEwMFoiIGZpbGw9IiNFNDEwMTkiLz4KPC9zdmc+) center center no-repeat;
                height: 98px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &:after {
            right: -60px;
            left: auto;
            top: 0;
            width: 60px;
            height: 100%;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iMTI1IiB2aWV3Qm94PSIwIDAgNDAgMTI1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8wXzE2MTkpIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS02NzYuNTY2IDEyNUgwLjIyNDY3TDQwLjI2NzUgNjIuNUwwLjIyNDY3IDBILTY3Ni41NjZMLTYzNi40NTQgNjIuNUwtNjc2LjU2NiAxMjVaIiBmaWxsPSIjMjkyQjJFIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDBfMF8xNjE5Ij48cmVjdCB3aWR0aD0iNzYyLjI2OSIgaGVpZ2h0PSIxMjUiIGZpbGw9IndoaXRlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzIyKSIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==) center center no-repeat;
            background-size: cover;

            @include max-break('470px') {
                display: none;
            }
        }

        &:nth-child(3n+1)::before {
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODYiIGhlaWdodD0iMTI1IiB2aWV3Qm94PSIwIDAgODYgMTI1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8wXzE2MTkpIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMTI1SDI2LjgxMTZMNjcgNjIuNUwyNi44MTE2IDBIMEw0MC4xODg0IDYyLjVMMCAxMjVaIiBmaWxsPSIjRjRCQzIwIi8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00NS40MzM1IDEyNUg3MjIuMjI1TDc2Mi4yNjggNjIuNUw3MjIuMjI1IDBINDUuNDMzNUw4NS41NDY1IDYyLjVMNDUuNDMzNSAxMjVaIiBmaWxsPSIjMjkyQjJFIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDBfMF8xNjE5Ij48cmVjdCB3aWR0aD0iNzYyLjI2OSIgaGVpZ2h0PSIxMjUiIGZpbGw9IndoaXRlIi8+PC9jbGlwUGF0aD48L2RlZnM+PC9zdmc+) center center no-repeat;
            background-size: cover;

            @include max-break('470px') {
                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NCIgaGVpZ2h0PSIxMDAiIHZpZXdCb3g9IjAgMCA0NCAxMDAiIGZpbGw9Im5vbmUiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC44MjY5MTIgMTAwSDExLjgyNjlMNDQgNTBMMTEuODI2OSAwSDAuODI2OTEyTDMzIDUwTDAuODI2OTEyIDEwMFoiIGZpbGw9IiNGNEJDMjAiLz4KPC9zdmc+) center center no-repeat;
            }
        }

        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &__item-title,
    &__item-desc {
        color: #FFF;
        font-style: normal;
    }

    &__item-title {
        font-family: $Nexa;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.19;
        text-transform: uppercase;
        margin-bottom: 7px;

        @include max-break('1470px') {
            font-size: 18px;
        }

        @include max-break('1370px') {
            font-size: 16px;
        }

        @include max-break('991px') {
            font-size: 14px;
        }
    }

    &__item-desc {
        font-family: $SFProDisplay;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;

        @include max-break('1370px') {
            font-size: 16px;
        }
    }

}
