.news {
    padding-top: 74px;
    padding-bottom: 102px;
    background-color: #F6F6F7;

    @include max-break('1600px') {
        padding-bottom: 70px;
        padding-top: 50px;
    }

    @include max-break('1030px') {
        padding-bottom: 80px;
        padding-top: 67px;
    }


    &__content {
        display: flex;
        max-width: 1495px;

        @include max-break('991px') {
            flex-direction: column-reverse;
        }
    }

    &__items {
        width: 100%;
        flex: 1;

        .blog-page__inner {
            max-width: 1205px;

            @include max-break('1600px') {
                max-width: 1210px;
            }

            @include max-break('1470px') {
                max-width: 1000px;
            }

            @include max-break('1370px') {
                max-width: 920px;
            }

            @include max-break('1280px') {
                max-width: 720px;
            }

            @include max-break('991px') {
                max-width: unset;
                margin-bottom: 28px;
            }
        }

        .post-card__excerpt {
            margin-bottom: 19px;

            @include max-break('1470px') {
                font-size: 20px;
            }

            @include max-break('1280px') {
                font-size: 18px;
            }
        }

        .post-card__date {
            @include max-break('1470px') {
                margin-bottom: 45px;
            }

            @include max-break('670px') {
                margin-bottom: 19px;
            }
        }

        .post-card {
            @include max-break('1470px') {
                padding-bottom: 45px;
            }

            @include max-break('1370px') {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include max-break('1280px') {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 28px;
            }
        }
    }

    &__block-info {
        width: max-content;
        margin-left: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        @include max-break('991px') {
            flex-direction: unset;
            width: 100%;
            margin-bottom: 26px;
        }
    }

    &__btn {
        margin-top: 286px;

        &.desktop {
            @include max-break('991px') {
                display: none;
            }
        }

        &.mobile {
            display: none;

            @include max-break('991px') {
                display: flex;
                margin-top: 0;
                width: max-content;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
