.our-offer {
    padding-top: 80px;
    padding-bottom: 91px;
    background: #292b2e;

    @include max-break('1440px') {
        padding-top: 65px;
    }

    @include max-break('850px') {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    &__content-top {
        margin-bottom: 75px;
        display: flex;

        @include max-break('1750px') {
            padding-left: 101px;
        }

        @include max-break('1030px') {
            padding-left: 0;
        }

        @include max-break('850px') {
            margin-bottom: 40px;
        }

        @include max-break('570px') {
            flex-direction: column;
        }
    }

    &__title {
        color: #fff;
        margin-right: 60px;
        width: 100%;
        max-width: max-content;

        @include max-break('570px') {
            margin-bottom: 25px;
        }
    }

    &__desc {
        padding-top: 22px;
        width: 100%;
        color: #fff;
        font-family: $SFProDisplay;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.23;

        @include max-break('1440px') {
            font-size: 24px;
        }

        @include max-break('1280px') {
            font-size: 20px;
        }

        @include max-break('1199px') {
            padding-top: 0;
        }

        @include max-break('850px') {
            font-size: 16px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        @include max-break('850px') {
            flex-direction: column;
        }

        &:before,
        &:after {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            width: calc((100% - 60px) / 2);
            height: 1px;
            z-index: 1;
            background-color: #f4bc20;

            @include max-break('1199px') {
                width: calc((100% - 30px) / 2);
            }

            @include max-break('850px') {
                width: 100%;
            }
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;

            @include max-break('850px') {
                display: none;
            }
        }
    }

    &__item {
        width: calc((100% - 60px) / 2);
        margin-right: 60px;
        display: flex;
        align-items: center;
        padding: 16px 30px 16px 0;
        border-bottom: 1px solid #f4bc20;
        box-sizing: border-box;

        @include max-break('1199px') {
            width: calc((100% - 30px) / 2);
            margin-right: 30px;
            padding-right: 15px;
        }

        @include max-break('850px') {
            width: 100%;
            margin-right: 0;
        }

        @include max-break('480px') {
            padding: 11px 5px 11px 0;
        }

        &:nth-child(2n + 2) {
            margin-right: 0;
        }
    }

    &__item-btn {
        position: relative;
        z-index: 1;
        min-width: 56px;
        width: 56px;
        height: 56px;
        transition: all 0.4s ease-out;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        @include max-break('480px') {
            min-width: 30px;
            width: 30px;
            height: 30px;
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 46px;
            height: 46px;
            z-index: 1;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDYiIGhlaWdodD0iNDYiIHZpZXdCb3g9IjAgMCA0NiA0NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIyMyIgY3k9IjIzIiByPSIyMi41IiBzdHJva2U9IndoaXRlIi8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yOCAxOEgyOS4zMzQ1TDMzIDIzLjVMMjkuMzM0NSAyOUgyOEwzMS42NjU1IDIzLjVMMjggMThaIiBmaWxsPSJ3aGl0ZSIvPjxwYXRoIGQ9Ik0xMi41IDIzLjVIMzEuNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPjwvc3ZnPg==)
                center center no-repeat;
            background-size: contain;
            cursor: pointer;
            transition: all 0.4s ease-out;

            @include max-break('480px') {
                min-width: 36px;
                width: 36px;
                height: 36px;
            }
        }

        &:hover {
            width: 56px;
            height: 56px;
            position: relative;
            z-index: 1;

            @include max-break('480px') {
                width: 46px;
                height: 46px;
            }

            &:after {
                width: 56px;
                height: 56px;
                background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNTYiIHZpZXdCb3g9IjAgMCA1NiA1NiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIyOCIgY3k9IjI4IiByPSIyOCIgZmlsbD0iI0Y0QkMyMCIvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzMuODA4NiAyMkgzNS40NjA5TDM5Ljk5OTEgMjguNUwzNS40NjA5IDM1SDMzLjgwODZMMzguMzQ2OCAyOC41TDMzLjgwODYgMjJaIiBmaWxsPSIjMjkyQjJFIi8+PHBhdGggZD0iTTE0LjYxOSAyOC41MDAxSDM4LjE0MjkiIHN0cm9rZT0iIzI5MkIyRSIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPjwvc3ZnPg==)
                    center center no-repeat;
                background-size: contain;

                @include max-break('480px') {
                    width: 46px;
                    height: 46px;
                }
            }
        }
    }

    &__item-icon-wrap {
        min-width: 149px;
        display: flex;
        justify-content: center;

        @include max-break('1199px') {
            min-width: 130px;
        }

        @include max-break('480px') {
            min-width: unset;
            width: 40px;
            margin-right: 10px;
            flex-shrink: 0;
        }
    }

    &__item-icon {
    }

    &__item-title {
        color: #fff;
        font-family: $Montserrat;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 28.5px;
        margin-right: 12px;

        @include max-break('1600px') {
            font-size: 22px;
            margin-right: 15px;
        }

        @include max-break('1440px') {
            font-size: 20px;
        }

        @include max-break('1199px') {
            font-size: 18px;
        }

        @include max-break('991px') {
            font-size: 16px;
        }
    }
}
