.our-directions {
    padding-top: 66px;
    padding-bottom: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-break('1470px') {
        background-position: 45%;
    }

    @include max-break('480px') {
        padding-top: 45px;
    }


    &__top-content {
        display: flex;
        margin-bottom: 38px;

        @include max-break('1600px') {
            margin-bottom: 35px;
        }

        @include max-break('1030px') {
            padding-left: 0;
            margin-bottom: 10px;
        }

        @include max-break('570px') {
            flex-direction: column;
            margin-bottom: 25px;
        }
    }

    &__title {
        color: #FFF;
        margin-right: 207px;

        @include max-break('1470px') {
            margin-right: 135px;
        }

        @include max-break('570px') {
            margin-bottom: 25px;
            margin-right: 0;
        }
    }

    &__desc {
        max-width: 441px;
        color: #FFF;
        font-family: $SFProDisplay;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.23;

        @include max-break('1030px') {
            font-size: 22px;
        }

        @include max-break('850px') {
            font-size: 20px;
        }
    }

    &__main-image-wrap {
        display: flex;
        justify-content: space-between;

        @include max-break('570px') {
            flex-direction: column-reverse;
        }
    }

    &__main-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__second-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;

        @include max-break('570px') {
            max-width: 162px;
            width: 100%;
            height: 216px;
            margin-left: auto;
            margin-right: 0;
            margin-top: 50px;
        }
    }
}
