.htaccess
/license.txt
/wp-includes/
/readme.html
/wp-admin/
/wp-config.php
/wp-cron.php
/index.php
/wp-links-opml.php
/wp-trackback.php
/wp-signup.php
/wp-comments-post.php
/wp-activate.php
/xmlrpc.php
/wp-settings.php
/.idea/
/wp-login.php
/wp-blog-header.php
/wp-load.php
/wp-mail.php
/wp-config-sample.php
*/**/node_modules/
/wp-content/themes/*/vendor/
/wp-content/backups-dup-lite/
/phpmyadmin/
debug.log
yarn.lock
package-json.lock