#main-wrapper {
    width: 100vw;
    min-width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100vw;
    position: relative;
    min-height: 100vh;
    font-family: $SFProDisplay;
    font-weight: 300;
    color: #0e0e0f;

    &.padding-top {
        padding-top: 100px;

        @include max-break('1024px') {
            padding-top: 66px;
        }
    }


    &.error404 {
        overflow: hidden;
    }

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 1612px;
    max-width: 100%;
    box-sizing: border-box;

    @include max-break('1470px') {
        width: 1370px;
    }
    @include max-break('1400px') {
        width: 1250px;
    }
    @include max-break('1280px') {
        width: 1050px;
    }
    @include max-break('1070px') {
        width: 100%;
    }

    &.full-width {
        padding: 0;
        width: 100vw;
        max-width: 100vw;
    }
}

.circle-link {
    width: 46px;
    height: 46px;
    background-color: #e41019;
    border: 1px solid #e41019;
    border-radius: 50%;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAyMiAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi43NzM0IDAuMDcxNDI4M0gxOC4xMzA3TDIxLjg1ODUgNS40MTA3MUwxOC4xMzA3IDEwLjc1SDE2Ljc3MzRMMjAuNTAxMiA1LjQxMDcxTDE2Ljc3MzQgMC4wNzE0MjgzWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTEuMDA4NSA1LjQxMDkzSDIwLjMzMTYiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==);


    @include max-break('768px') {
        width: 40px;
        height: 40px;
        background-size: 18px 10px;
    }

    &:hover {
        background-color: #fff;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAyMiAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNi43NzM0IDAuMDcxNDI4M0gxOC4xMzA3TDIxLjg1ODUgNS40MTA3MUwxOC4xMzA3IDEwLjc1SDE2Ljc3MzRMMjAuNTAxMiA1LjQxMDcxTDE2Ljc3MzQgMC4wNzE0MjgzWiIgZmlsbD0iIzBFMEUwRiIvPgo8cGF0aCBkPSJNMS4wMDg1IDUuNDEwOTNIMjAuMzMxNiIgc3Ryb2tlPSIjMEUwRTBGIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=);
    }
}

.arrow-link {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #e41019;
    font-family: $SFProDisplay;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
    position: relative;
    padding: 11px 61px 11px 0;

    @include max-break('768px') {
        font-size: 18px;
        padding: 11px 50px 11px 0;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 46px;
        height: 46px;
        top: 50%;
        right: 0;
        transition: background-color 0.3s;
        transform: translateY(-50%);
        border: 1px solid #e41019;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 21px 11px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAyMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNiAwSDE3LjMzNDVMMjEgNS41TDE3LjMzNDUgMTFIMTZMMTkuNjY1NSA1LjVMMTYgMFoiIGZpbGw9IiMwRTBFMEYiLz4KPHBhdGggZD0iTTAuNSA1LjVIMTkuNSIgc3Ryb2tlPSIjMEUwRTBGIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=);

        @include max-break('768px') {
            width: 40px;
            height: 40px;
            background-size: 18px 10px;
        }
    }

    &.arrow-link-reverse {
        flex-direction: row;
        padding: 11px 0 11px 61px;

        @include max-break('768px') {
            padding: 11px 0 11px 50px;
        }

        &:after {
            transform: translateY(-50%) scale(-1, -1);
            right: auto;
            left: 0;
        }
    }

    &:hover {
        &:after {
            background-color: #e41019;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAyMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNiAwSDE3LjMzNDVMMjEgNS41TDE3LjMzNDUgMTFIMTZMMTkuNjY1NSA1LjVMMTYgMFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC41IDUuNUgxOS41WiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTAuNSA1LjVIMTkuNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K);
        }
    }
}


.primary {
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    color: #0E0E0F;
    font-family: $Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    padding: 15px 60px 17px 27px;
    border: 1px solid #E41019;
    transition: background-color 0.3s;
    appearance: none;
    position: relative;
    z-index: 1;
    height: 56px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    @include max-break('1024px') {
        font-size: 14px;
    }

    &:after {
        position: absolute;
        content: '';
        display: block;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 23px;
        height: 23px;
        z-index: 1;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxMS41IiBjeT0iMTEuNSIgcj0iMTEuNSIgZmlsbD0iI0U0MTAxOSIvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNOSA2SDEwLjMzNDVMMTQgMTEuNUwxMC4zMzQ1IDE3SDlMMTIuNjY1NSAxMS41TDkgNloiIGZpbGw9IndoaXRlIi8+PC9zdmc+) center center no-repeat;
        background-size: contain;
    }

    &:hover {
        background-color: rgba(228, 16, 25, .03);
    }
}

.privacy-policy-container {
    padding-top: 280px;
    padding-bottom: 140px;
    max-width: 1280px;
    &__title {
        margin-bottom: 40px;
    }
    p {
        line-height: 122%;
    }
    ul, ol {
        margin-bottom: 25px;
    }

    li {
        margin-bottom: 12px;
    }
}
