#main-wrapper {
    width: 100vw;
    min-width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100vw;
    position: relative;
    min-height: 100vh;

    &.error404 {
        overflow: hidden;
    }

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
}

.container {
    padding: 0 16px;
    margin: 0 auto;
    width: 1587px;
    max-width: 100%;

    @include max-break('1470px') {
        width: 1370px;
    }
    @include max-break('1400px') {
        width: 1250px;
    }
    @include max-break('1280px') {
        width: 1050px;
    }
    @include max-break('1070px') {
        width: 100%;
    }

    &.full-width {
        padding: 0;
        width: 100vw;
        max-width: 100vw;
    }
}
