.site-header {
    width: 100vw;
    transition: background-color 0.3s;

    &.block-header {
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include max-break('1024px') {
            padding-bottom: 23px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(229deg, rgba(41, 43, 46, 0.41) 0%, #292b2e 100%);
        }

        .site-header__container {
            @include max-break('470px') {
                padding-left: 10px;
                padding-right: 0;
            }
        }

        .site-header__socials {
            display: none;
        }

        .site-header__container {
            align-items: flex-start;
        }

        .site-header__menu-wrapper-container {
            height: 100px;

            @include max-break('1024px') {
                height: auto;
            }
        }

        .site-header__breacrumbs-container {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include max-break('1024px') {
                width: auto;
            }
        }

        .site-header__logo {
            position: relative;
            top: 0;
            left: 0;

            @include max-break('1570px') {
                max-width: 100px;
                position: relative;
                margin-left: 50px;
            }

            @include max-break('470px') {
                flex-shrink: 0;
                max-width: 100px;
                margin-left: auto;
            }
        }
    }

    &.opened {
        background-color: #1b1f26;
    }

    &.main-header {
        position: fixed;
        height: 100px;
        z-index: 19;

        @include max-break('1024px') {
            height: auto;
        }

        .site-header__container {
            @include max-break('470px') {
                padding-left: 10px;
                padding-right: 0;
            }
        }

        .site-header__socials {
            position: absolute;
            top: 40px;
            left: -90px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include max-break('1570px') {
                left: 20px;
            }

            @include max-break('1370px') {
                flex-direction: row;
                bottom: -70px;
                top: auto;
            }

            @include max-break('1024px') {
                position: relative;
                flex-direction: column;
                margin-right: 12px;
                bottom: auto;
                top: 0;
                left: 0;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .site-header__social {
            @include max-break('1370px') {
                margin-right: 50px;
                margin-bottom: 0;
            }

            @include max-break('1024px') {
                margin-right: 0;
                margin-bottom: 20px;
            }

            @include max-break('470px') {
                width: 14px;
            }

            &:last-child {
                @include max-break('1024px') {
                    margin-bottom: 0;
                }
            }
        }

        .site-header__logo {
            position: absolute;
            top: 0;
            left: 0;

            @include max-break('1570px') {
                max-width: 100px;
                position: relative;
                margin-left: 50px;
            }

            @include max-break('1370px') {
                margin-left: 0;
            }

            @include max-break('470px') {
                flex-shrink: 0;
                max-width: 130px;
            }
        }

        .site-header__lang-switcher {
            @include max-break('470px') {
                margin: 3px 6px 0 0;
            }
        }
    }

    &.scrolled {
        background-color: rgba(27, 31, 38, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        background-image: none !important;
        z-index: 19;

        @include max-break('1024px') {
            padding-bottom: 0;
        }

        .site-header__logo {
            position: relative;
            max-width: 150px;

            @include max-break('1370px') {
                max-width: 100px;
            }

            @include max-break('1024px') {
                margin-left: 0;
            }

            @include max-break('570px') {
                max-width: 80px;
            }

            img {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: block;
                }
            }
        }

        .site-header__container {
            align-items: center;
        }

        .site-header__breadcrumb {
            display: none;
        }

        .site-header__lang-switcher {
            @include max-break('1024px') {
                display: none;
            }
        }

        .site-header__socials {
            display: none;
        }
    }

    &.active {
        .site-header__menu-wrapper {
            top: 0;
        }

        .site-header__burger {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 21;
            left: auto;

            svg {
                opacity: 0;
            }

            background-color: transparent;
            background-size: 20px 20px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMS45Mzg2IiB5PSIwLjM3MzIzIiB3aWR0aD0iMTYiIGhlaWdodD0iMS42ODQyMSIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMS45Mzg2IDAuMzczMjMpIiBmaWxsPSJ3aGl0ZSIvPgo8cmVjdCB3aWR0aD0iMTYiIGhlaWdodD0iMS42ODQyMSIgdHJhbnNmb3JtPSJtYXRyaXgoLTAuNzA3MTA3IDAuNzA3MTA3IDAuNzA3MTA3IDAuNzA3MTA3IDEyLjA2MTQgMC4zNzMyMykiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
        }

        .site-header__logo {
            position: fixed;
            top: 0;
            left: 20px;
            z-index: 21;
            max-width: 100px;

            img {
                &:first-child {
                    display: block;
                }

                &:last-child {
                    display: none;
                }
            }
        }

        .site-header__call-to-action {
            position: fixed;
            top: 14px;
            left: 130px;
            z-index: 21;
        }
    }

    &__container {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        height: 100%;

        @include max-break('1024px') {
            align-items: flex-start;
        }
    }

    &__social {
        display: flex;
        margin-bottom: 56px;
        width: max-content;
        opacity: 0.39;

        &:hover {
            opacity: 1;
        }
    }

    &__logo {
        @include max-break('1024px') {
            margin: 0 auto;
            display: inline-flex;
        }

        img {
            &:last-child {
                display: none;
            }
        }
    }

    &__breacrumbs-container {
        margin-left: auto;

        @include max-break('1024px') {
            margin-left: 0;
        }
    }

    &__menu-wrapper-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }

    &__header-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    &__menu-wrapper {
        margin-left: auto;

        @include max-break('1024px') {
            overflow-y: auto;
            position: fixed;
            top: -300%;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #1b1f26;
            z-index: 20;
            padding: 150px 10px 50px 60px;
        }
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include max-break('1024px') {
            flex-direction: column;
        }

        > .menu-item {
            color: #fff;
            font-family: $Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            margin-right: 50px;
            transition: color 0.3s;
            position: relative;

            @include max-break('1570px') {
                margin-right: 30px;
            }

            @include max-break('1370px') {
                font-size: 12px;
            }

            @include max-break('1024px') {
                margin-right: 0;
                font-size: 18px;
                margin-bottom: 30px;
                padding: 0 30px;
            }

            @include max-break('470px') {
                padding: 0 10px;
                font-size: 12px;
                margin-bottom: 25px;
            }

            &.current-menu-item {
                pointer-events: none;

                span {
                    position: relative;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: -20px;
                        top: 2px;
                        width: 14px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNSAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDEzSDUuNDQ2NDNMMTQuMjMzMSAwSDguNzcwMDlMMCAxM1oiIGZpbGw9IiNGNEJDMjAiLz4KPC9zdmc+Cg==);

                        @include max-break('1024px') {
                            top: 5px;
                        }

                        @include max-break('470px') {
                            top: 1px;
                        }
                    }
                }
            }

            &.menu-item-has-children {
                > a {
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        right: -22px;
                        top: 2px;
                        width: 16px;
                        height: 12px;
                        transition: background-image 0.3s;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC44NzYzMjEgMC4xMjQ1MTJWMy4yNDg4NUw3LjAwMDY2IDcuMTI0NTFMMTMuMTI1IDMuMjQ4ODVWMC4xMjQ1MTJMNy4wMDA2NiA0LjAwMDE3TDAuODc2MzIxIDAuMTI0NTEyWiIgZmlsbD0iI0U0MTAxOSIvPgo8L3N2Zz4K);
                    }
                }

                &:after {
                    content: '';
                    display: none;
                    position: absolute;
                    bottom: -55px;
                    left: 0;
                    width: 100%;
                    height: 60px;
                }

                &.opened {
                    &:after {
                        display: block;
                    }
                }

                > .sub-menu {
                    position: absolute;
                    top: 60px;
                    left: 0;
                    background-color: #fff;
                    padding: 54px 57px;
                    width: 64vw;
                    display: none;
                    color: #0e0e0f;
                    text-align: left;

                    @include max-break('1570px') {
                        width: 74vw;
                    }

                    @include max-break('1024px') {
                        position: relative;
                        width: 100%;
                        flex-direction: column;
                        padding: 30px 20px 0 0;
                        background-color: transparent;
                        color: #fff;
                        top: 0;
                    }

                    @include max-break('470px') {
                        padding: 20px 0 0;
                    }

                    > .menu-title {
                        width: 33%;
                        border-right: 1px solid #e41019;
                        padding-right: 100px;
                        font-size: 26px;
                        color: inherit;
                        font-family: $Nexa;
                        font-weight: 800;
                        padding-left: 57px;

                        @include max-break('1024px') {
                            padding-left: 0;
                            padding-right: 20px;
                            width: 100%;
                            margin-bottom: 30px;
                            border-right: none;
                            font-size: 18px;
                            position: relative;
                            color: #f4bc20;
                        }

                        @include max-break('470px') {
                            font-size: 11px;
                            margin-bottom: 12px;
                        }

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            width: 20px;
                            height: 20px;
                            right: 0;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: contain;
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOSA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS4zNTcxNCAzLjI4NTcxQzUuMjc4MjUgMy4yODU3MSA1LjIxNDI5IDMuMjIxNzUgNS4yMTQyOSAzLjE0Mjg2VjBIMy43ODU3MVYzLjE0Mjg2QzMuNzg1NzEgMy4yMjE3NSAzLjcyMTc1IDMuMjg1NzEgMy42NDI4NiAzLjI4NTcxSDAuNVY0LjcxNDI5SDMuNjQyODZDMy43MjE3NSA0LjcxNDI5IDMuNzg1NzEgNC43NzgyNSAzLjc4NTcxIDQuODU3MTRWOEg1LjIxNDI5VjQuODU3MTRDNS4yMTQyOSA0Ljc3ODI1IDUuMjc4MjUgNC43MTQyOSA1LjM1NzE0IDQuNzE0MjlIOC41VjMuMjg1NzFINS4zNTcxNFoiIGZpbGw9IiNGNEJDMjAiLz4KPC9zdmc+Cg==);

                            @include max-break('470px') {
                                width: 8px;
                                height: 8px;
                            }
                        }

                        &:last-child {
                            border-right: none;

                            @include max-break('470px') {
                                margin-bottom: 0;
                            }
                        }

                        > a {
                            display: inline-flex;
                            text-transform: uppercase;
                            pointer-events: none;
                            color: inherit;
                            font-family: inherit;
                            transition: margin 0.3s;
                        }

                        .sub-menu {
                            text-transform: none;
                            max-width: 223px;
                            transition: max-height 0.3s;
                            max-height: 0;
                            overflow: hidden;

                            @include max-break('1024px') {
                                max-width: 100%;
                            }

                            .menu-item {
                                padding-left: 20px;
                                position: relative;
                                color: inherit;
                                font-family: $Montserrat;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                margin-bottom: 24px;

                                @include max-break('1024px') {
                                    color: #fff;
                                }

                                @include max-break('768px') {
                                    font-size: 16px;
                                }

                                @include max-break('470px') {
                                    font-size: 11px;
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                &:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 7px;
                                    left: 0;
                                    width: 12px;
                                    height: 11px;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMyAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDExSDQuNjA4NTJMMTIuMDQzNCAwSDcuNDIwODRMMCAxMVoiIGZpbGw9IiMyMTI1MkEiLz4KPC9zdmc+Cg==);

                                    @include max-break('1024px') {
                                        display: none;
                                    }
                                }

                                &:hover {
                                    color: #e41019;

                                    @include max-break('1024px') {
                                        color: #f4bc20;
                                    }

                                    &:after {
                                        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDEzIDExIiBmaWxsPSJub25lIj4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMTFINC42MDg1MkwxMi4wNDM0IDBINy40MjA4NEwwIDExWiIgZmlsbD0iI0U0MTAxOSIvPgo8L3N2Zz4=);
                                    }
                                }

                                > a {
                                    display: block;
                                    color: inherit;
                                    font-family: inherit;
                                }
                            }
                        }

                        &.active {
                            .sub-menu {
                                max-height: 1000px;
                            }

                            > a {
                                @include max-break('1024px') {
                                    margin-bottom: 36px;
                                }

                                @include max-break('479px') {
                                    margin-bottom: 12px;
                                }
                            }

                            &:after {
                                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwIDAgOSAyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS4zNTcxNCAwLjI4NTcxQzUuMjc4MjUgMC4yODU3MSA1LjIxNDI5IDAuMjIxNzQ1IDUuMjE0MjkgMC4xNDI4NTNIMy43ODU3MUMzLjc4NTcxIDAuMjIxNzQ1IDMuNzIxNzUgMC4yODU3MSAzLjY0Mjg2IDAuMjg1NzFIMC41VjEuNzE0MjhIMy42NDI4NkMzLjcyMTc1IDEuNzE0MjggMy43ODU3MSAxLjc3ODI1IDMuNzg1NzEgMS44NTcxNEg1LjIxNDI5QzUuMjE0MjkgMS43NzgyNSA1LjI3ODI1IDEuNzE0MjggNS4zNTcxNCAxLjcxNDI4SDguNVYwLjI4NTcxSDUuMzU3MTRaIiBmaWxsPSIjRjRCQzIwIi8+Cjwvc3ZnPgo=);
                            }
                        }
                    }
                }

                &.opened {
                    > .sub-menu {
                        display: flex;
                    }
                }
            }

            @media (hover: hover) {
                &:hover {
                    color: #f4bc20;
                    a {
                        &:before {
                            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC44NzYzMjEgMC4xMjQ1MTJWMy4yNDg4NUw3LjAwMDY2IDcuMTI0NTFMMTMuMTI1IDMuMjQ4ODVWMC4xMjQ1MTJMNy4wMDA2NiA0LjAwMDE3TDAuODc2MzIxIDAuMTI0NTEyWiIgZmlsbD0iI0Y0QkMyMCIvPgo8L3N2Zz4K);
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &.opened {
                color: #f4bc20;
                a {
                    &:before {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC44NzYzMjEgMC4xMjQ1MTJWMy4yNDg4NUw3LjAwMDY2IDcuMTI0NTFMMTMuMTI1IDMuMjQ4ODVWMC4xMjQ1MTJMNy4wMDA2NiA0LjAwMDE3TDAuODc2MzIxIDAuMTI0NTEyWiIgZmlsbD0iI0Y0QkMyMCIvPgo8L3N2Zz4K);
                        transform: rotate(180deg);
                    }
                }
            }

            &.with-image {
                > .sub-menu {
                    flex-wrap: wrap;

                    > .menu-item {
                        width: 33%;
                        border-right: 1px solid #e41019;
                        font-weight: 800;
                        margin-bottom: 30px;

                        @include max-break('1024px') {
                            width: 100%;
                            border-right: none;
                        }

                        a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            color: inherit;

                            figure {
                                max-width: 252px;
                                width: 100%;
                                height: 124px;
                                margin-bottom: 30px;
                                position: relative;

                                &:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    right: 20px;
                                    width: 87px;
                                    height: 100%;
                                    background-repeat: no-repeat;
                                    background-position: center left;
                                    background-size: cover;
                                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4NyIgaGVpZ2h0PSIxMjQiIHZpZXdCb3g9IjAgMCA4NyAxMjQiIGZpbGw9Im5vbmUiPgogIDxwYXRoIG9wYWNpdHk9IjAuNTU4ODkxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMTI0SDQ3LjAxMDFMODcgNjJMNDcuMDEwMSAwSDBMMzkuOTg5OSA2MkwwIDEyNFoiIGZpbGw9IiNGNEJDMjAiLz4KPC9zdmc+);
                                }
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }

                                @include max-break('1024px') {
                                    margin-bottom: 15px;
                                }

                                @include max-break('470px') {
                                    height: auto;
                                }
                            }

                            span {
                                @include max-break('1024px') {
                                    font-size: 16px;
                                    text-align: center;
                                }

                                @include max-break('470px') {
                                    font-size: 14px;
                                }
                            }
                        }

                        &:nth-child(3n) {
                            border-right: none;
                        }

                        &:hover {
                            color: #e41019;
                        }
                    }
                }
            }

            &:last-child {
                margin-right: 0;

                @include max-break('1024px') {
                    margin-bottom: 0;
                }
            }

            span,
            a {
                color: inherit;
                font-family: inherit;
                font-size: inherit;
            }
        }
    }

    &__lang-switcher {
        margin-left: 55px;
        width: 78px;
        height: 33px;
        background-color: #292b2e;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: $Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        flex-shrink: 0;

        @include max-break('1370px') {
            margin-left: 30px;
        }

        @include max-break('1024px') {
            margin-left: auto;
            display: none;
        }

        &.mob {
            display: none;

            @include max-break('1024px') {
                display: flex;
                margin: 10px 50px 0 auto;
            }

            @include max-break('768px') {
                margin: 10px 6px 0 auto;
            }

            @include max-break('470px') {
                width: 50px;
                margin: 3px 6px 0 20px;
            }
        }

        &-current {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 15px;

            @include max-break('470px') {
                padding: 6px;
            }

            span {
                @include max-break('470px') {
                    font-size: 12px;
                }
            }
        }

        &-langs {
            position: absolute;
            top: 33px;
            left: 0;
            width: 78px;
            overflow: hidden;
            max-height: 0;
            padding: 0;
            background-color: #292b2e;

            @include max-break('470px') {
                width: 50px;
            }

            span {
                @include max-break('470px') {
                    font-size: 12px;
                }
            }
        }
        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: inherit;
            font-family: inherit;
            text-transform: uppercase;
        }

        &:hover {
            .site-header__lang-switcher-langs {
                max-height: 100px;
                padding: 10px 15px;

                @include max-break('470px') {
                    padding: 6px;
                }

            }
        }
    }

    &__call-to-action {
        margin-left: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 67px;
        border-radius: 50%;
        border: 1px solid #e41019;
        transition: background-color 0.3s;

        @include max-break('1370px') {
            margin-left: 15px;
        }

        @include max-break('1024px') {
            width: 50px;
            height: 50px;
        }

        @include max-break('470px') {
            height: 38px;
            width: 38px;
            margin-left: 6px;
        }

        svg {
            pointer-events: none;
        }

        &:hover {
            background-color: #e41019;
        }
    }

    &__burger {
        position: relative;
        background-color: transparent;
        padding: 0;
        border: none;
        background-color: #f4bc20;
        margin-left: 30px;
        width: 42px;
        height: 42px;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        display: none;

        @include max-break('1024px') {
            display: flex;
            left: 15px;
        }

        @include max-break('470px') {
            margin-left: 6px;
            left: 0;
        }

        svg {
            pointer-events: none;
        }
    }

    &__breadcrumb {
        display: inline-flex;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;

        @include max-break('1024px') {
            display: none;
        }

        span {
            a {
                color: #fff;
                font-family: $SFProDisplay;
                font-size: 15px;
                font-style: normal;
                font-weight: 300;
                text-transform: capitalize;
            }

            span.current-item {
                color: #b8b8b8;
            }
        }

        .separator {
            color: #fff;
            margin: 0 20px;
        }
    }
}
