html {
    position: relative;
    min-height: 100%;

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
}


/* ********************** MODAL WINDOW ********************************/

.my_overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    cursor: pointer;
    display: block;
}

.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
    &-container {
        padding: 38px 61px 66px;

        @media screen and (max-width: 768px) {
            padding: 24px 30px 30px;
        }

        &__title {
            color: #0E0E0F;
            font-family: $Nexa;
            font-size: 30px;
            font-style: normal;
            font-weight: 800;
            line-height: 200%;
            text-transform: uppercase;
            @media screen and (max-width: 768px) {
                font-size: 24px;
            }
        }
        &__form {
            .form-box {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                border: 0;
            }
            .type-1 {
                margin-right: 42px;
                max-width: calc(50% - 21px);
            }
            .type-2 {
                max-width: calc(50% - 21px);
            }
            .type-3 {
                width: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
            @media screen and (max-width: 768px) {
                .type-1 {
                    margin-right: 0;
                    max-width: 100%;
                    width: 100%;
                }
                .type-2 {
                    max-width: 100%;
                    width: 100%;
                }
                .form-box__inputs-right {
                    width: 100%;
                    justify-content: flex-end;
                }
            }
        }
    }

    .popup-wrapper-inner {
        position: relative;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: calc(100vh - 100px);
        background-color: #ffffff;
        max-width: 977px;
        width: 100%;
        box-sizing: border-box;
        border: 14px solid #F8F8F8;
        overflow: auto;
        @include max-break('1024px') {
            max-width: 100vw;
            padding: 0 16px;
        }

        @media screen and (max-width: 768px) {
            border: 7px solid #F8F8F8;
        }

        @include max-break('414px') {
            max-width: 100vw;
            padding: 42px 16px;
            left: 0;
            top: 0;
            transform: none;
        }
    }

    button.popup-close {
        border: none;
        width: 36px;
        height: 36px;
        position: absolute;
        top: 18px;
        right: 18px;
        padding: 0;
        z-index: 10;
        cursor: pointer;
        background: transparent;
        @include max-break('414px') {
            top: 18px;
            right: 18px;
        }
    }
}
