%heading {
    color: #0E0E0F;
    font-family: $Nexa;
    font-style: normal;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
}

%paragraph {
    font-family: $SFProDisplay;
    font-weight: 300;
    color: #0E0E0F;
}


h1 {
    @extend %heading;
    font-size: 50px;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 89px;
        top: 36px;
        left: -100px;
        background-color: #E41019;
    }
}

h2 {
    @extend %heading;
    font-size: 40px;
}

h3 {
    @extend %heading;
    font-size: 30px;

    @include min-break('1024px') {
        font-size: 70px;
    }
}

h4 {
    @extend %heading;
    font-size: 25px;

    @include min-break('1024px') {
        font-size: 50px;
        line-height: 104.02%;
    }
}

h5 {
    @extend %heading;
    font-size: 25px;
    font-weight: 800;

    @include min-break('1024px') {
        font-size: 45px;
    }
}

h6 {
    @extend %heading;
    font-size: 20px;

    @include min-break('1024px') {
        font-size: 40px;
    }
}

p {
    @extend %paragraph;
}

