%heading {
    color: #0E0E0F;
    font-family: $Nexa;
    font-style: normal;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
}

%paragraph {
    font-family: $SFProDisplay;
    font-weight: 300;
    color: #0E0E0F;
    font-size: 20px;
}


h1 {
    @extend %heading;
    font-size: 50px;
    position: relative;

    @include max-break('1024px') {
        font-size: 40px;
        padding-left: 60px;
    }

    @include max-break('768px') {
        font-size: 32px;
    }

    @include max-break('570px') {
        font-size: 26px;
    }

    @include max-break('470px') {
        font-size: 22px;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 89px;
        top: 36px;
        left: -100px;
        background-color: #E41019;

        @include max-break('1024px') {
            width: 50px;
            left: 0;
            top: 28px;
        }

        @include max-break('470px') {
            top: 16px;
        }
    }
}

h2 {
    @extend %heading;
    font-size: 50px;

    @include max-break('1024px') {
        font-size: 40px;
        padding-left: 60px;
    }

    @include max-break('768px') {
        font-size: 32px;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 89px;
        top: 36px;
        left: -100px;
        background-color: #E41019;

        @include max-break('1024px') {
            width: 50px;
            left: 0;
            top: 28px;
        }
    }
}

h3 {
    @extend %heading;
    color: #0E0E0F;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 34px;


    @include max-break('768px') {
        margin-bottom: 30px;
    }
}

h4 {
    @extend %heading;
    font-size: 25px;
}

h5 {
    @extend %heading;
    font-size: 25px;
    font-weight: 800;
}

h6 {
    @extend %heading;
    font-size: 20px;
}

p {
    @extend %paragraph;
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    @include max-break('1024px') {
        font-size: 18px;
    }

    @include max-break('768px') {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

